/* Estilos generales */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem 1rem;
}

/* Header */

nav {
  width: 100%;
  background-color: burlywood;
  padding: 1rem;
  text-align: center;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding-left: 0;
  margin-block: 0;
}

.nav__item {
  list-style-type: none;
  flex-shrink: 0;
  flex-basis: content;
}

.nav__item:nth-child(2) {
  margin-right: auto;
}

/* Main */

main h2 {
  text-align: center;
}

.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.news {
  height: 700px;
  max-height: 100%;
}

main article {
  width: 50%;
  min-width: 300px;
}

.projects__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__img {
  max-width: calc(50% - 0.5rem);
  min-width: 500px;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.box5 {
  display: flex;
  width: 100%;
  justify-content: center;
  /* padding: 1rem; */
}

.box5 img {
  vertical-align: bottom;
  max-width: 100%;
}

/* Footer */